 footer {
      background-color: #b4004e;
      font-size: 20px;
      text-align: center;
      color: #fff0f5;
      padding: 15px;
      margin-top: 20px;
    }
    #logo{
  
  transition: all 300ms ease-out;
  
}
 .logo1:hover{
  transition: all 300ms ease-in-out;
  transform: (1.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.842);
 }
  
 
  

.logo1{
  width: 60px;
  height: 60px;
 transition: all 300ms ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.164);
  
  border-radius: 15px;
  
}
#cart{
  width: 50px;
  height: 50px;
  transition: all 300ms ease-in-out;
  opacity: 50%;
}
#cart:hover{
  transition: all 300ms ease-in-out;
  opacity: 100%;
}
#ac{
 width: 50px;
 height: 50px;
 opacity: 50%;
 transition: all 300ms ease-in-out;
}
#ac:hover{
transition: all 300ms ease-in-out;
opacity: 100%;
}
 nav {
      background-color: #b4004e;
      padding: 10px;
      text-align: center;
      transition:0.3 ease;
      font-size: 20px;
    }
    nav a {
  margin: 0 15px;
  color:#fff0f5;
  text-decoration: none;
  font-weight: bold;
  transition: all .300s;
  
    }
    #nav1 a:hover {
  transform: (1.5);
  font-size: 23px;
 
 
}
a{
  text-decoration: none;
        transition: all 300ms ease-out;
        margin-right: 25px;
        font-size: 20px;
}
#a2{
  margin-right: 0%;
  
}

a:hover{
  transition: all 300ms ease-in-out;
  transform: (1.5);
  font-size: 22px;

}
h1{
    color: #fff0f5;
    
}
